# Copyright 2020 Jim Schubert
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Build workflow: Builds and releases the Go application using GoReleaser.
# Triggers on pushes to main/master branches and version tags (v*).
# Creates GitHub releases and pushes Docker images for tagged versions.

name: Build Go
on:
  push:
    branches: [ 'main', 'master' ]
    # Don't want v1 to be triggered when promoting v1.*.*, because it will fail as artifacts already exist.
    # This works because v1.*.* also pushes the v1 docker image tag.
    tags: [ 'v[0-9]+.[0-9]+.[0-9]+' ]

permissions:
  contents: write
  packages: write
  # id-token is required for attestation (signing)
  id-token: write
  attestations: write
  artifact-metadata: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: jimschubert/.workflows/.github/workflows/go-build-goreleaser.yml@main
    with:
      golangci-lint: "v2.7.2"
    secrets: inherit